<ion-header>
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços oferecidos.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="rosa">
  <ion-list>
  <ion-item color="branco" *ngFor="let product of lista">
    <ion-avatar item-left>
      <img src="https://manobatatao.000webhostapp.com/fotophp/foto {{product.Codigo}}.jpg">
    </ion-avatar>
    <ion-label>&nbsp;{{product.Nome}}</ion-label>
    <p>R$ {{product.Preco}}</p>
    <ion-button item-right color="primary"  href="https://wa.me/5503284529478?text=Olá gostaria de agendar um horário para uma&nbsp;{{product.Tipo}} de &nbsp;{{product.Nome}}!">Agendar!</ion-button>

  </ion-item>





  </ion-list>

</ion-content>


