<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bellus Cataguases</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card color="rosa">
  <ion-card-header>
    <ion-card-subtitle>Estética Corporal e Estética Facial.</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    Venha conferir as nossas promoções,agende logo sua avaliação!.<br>
    #VEMSERBELLUS
  </ion-card-content>
</ion-card>

<ion-card color="branco">
  <center>
    <img src="https://scontent.fmea2-1.fna.fbcdn.net/v/t39.30808-6/s640x640/265344776_5417757701584507_4031968138197677728_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_ohc=D0jW3ZqNL00AX_UQncA&_nc_ht=scontent.fmea2-1.fna&oh=00_AT-IjlVCu0r5iQiE5pWbFEfxX3dIZ19bKk3FsF3ZwTalsg&oe=61C50380"/>
  <ion-card-header>
    <ion-card-subtitle>Confira nossos pacotes.</ion-card-subtitle>

  </ion-card-header>
  </center>
  </ion-card>
  <ion-card color="branco">
    <center>
      <img src="https://scontent.fmea2-1.fna.fbcdn.net/v/t39.30808-6/c124.0.603.315a/s526x296/251249094_5298279040199041_301810685669489803_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_ohc=CmqKbvIH1sIAX-w7ywU&tn=M3tsJxpzs2-fdm7E&_nc_ht=scontent.fmea2-1.fna&oh=00_AT9iBnJ13-Ch4YGYLLSDteXC2BWD6v4tac69nyfF7jFBzA&oe=61C5C725"/>
    <ion-card-header>
      <ion-card-subtitle>Black Bellus!!!</ion-card-subtitle>

    </ion-card-header>
    </center>
    </ion-card>
    <ion-card color="branco">
      <center>
        <img src="https://scontent.fmea2-1.fna.fbcdn.net/v/t39.30808-6/s640x640/261104172_5381939881832956_8017753117096015266_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=LkRUGUIXNNEAX8DB-Pt&_nc_ht=scontent.fmea2-1.fna&oh=00_AT-fubf0OyNY05a6krHJx2qYb42vH1GyTxdRd6TTgVBCNg&oe=61C6EB74"/>
      <ion-card-header>
        <ion-card-subtitle>#FIMDEANONABELLUS</ion-card-subtitle>

      </ion-card-header>
      </center>
      </ion-card>
      <ion-card color="branco">
        <center>
          <img src="https://scontent.fmea2-1.fna.fbcdn.net/v/t39.30808-6/s640x640/257494397_5345458738814404_1941156506606625470_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=K2cxIKy0xDcAX_EtFi7&_nc_ht=scontent.fmea2-1.fna&oh=00_AT_DQryZ7IxHzsh8SG1xtKM3VAQRDnYMs1MkWO0dZeLpgg&oe=61C7F610"/>
        <ion-card-header>
          <ion-card-subtitle>Melhores procedimentos para voçê!</ion-card-subtitle>

        </ion-card-header>
        </center>
        </ion-card>










<ion-content>

</ion-content>
