<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bellus Estética</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="rosa">
  <ion-card>
  <ion-item color="branco" *ngFor="let product of card">

      <ion-img src="https://manobatatao.000webhostapp.com/postphp/foto{{product.codigo}}.jpg"></ion-img>
      <ion-card-header>

        <ion-title>&nbsp;{{product.nome}}</ion-title>
        <ion-card-content>
        <p>{{product.texto}}</p>
        <ion-card-subtitle><a href="https://www.instagram.com/sejabellus/">Nosso Instagram venha conferir!</a></ion-card-subtitle>
      </ion-card-content>
      </ion-card-header>
  </ion-item>
  </ion-card>






</ion-content>
