<ion-header [translucent]="true">
  <ion-toolbar color="roxo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bellus Cataguases</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card color="rosa">
  <ion-card-header>
    <ion-card-subtitle>Estética Corporal e Estética Facial.</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    Venha conferir as nossas promoções,agende logo sua avaliação!.<br>
    #VEMSERBELLUS
  </ion-card-content>
</ion-card>












<ion-content>

</ion-content>
